<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to your photo library</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app needs access to your calendar</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
</dict>
</plist>
